<div class="row">
    <div class="well">
        <h1 class="text-center">View Your Profile</h1>
        <p class="text-center">Welcome to the community!</p>
    </div>
</div>

<div class="row">
    <div class="avatar well col-md-2 text-center">
        <%= image_tag @user.profile.avatar.url %>
    </div>

    <div class="col-md-1">
    </div>

    <div class="avatar well col-md-8">

        <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
        <h3><span class="job-title-icon"><%= job_title_icon %></span> <%= @user.profile.job_title %></h3>
        <div class="well profile-description">
            <h3>Description</h3>
            <%= @user.profile.description %>
        </div>

        <div class="contact-info well">
            <h3>Contact info</h3>
            <% if current_user.plan_id == 2 || current_user.id == @user.profile.user_id %>
                <h4>Phone</h4>
                <%= @user.profile.phone_number %>
                <h4>Email</h4>
                <%= @user.profile.contact_email %>
            <% elsif %>
                 <h4>Phone</h4>
                <i>Professional only</i>
                <h4>Email</h4>
                <i>Professional only</i>
            <% end %>
        </div>

        <% if current_user.id == @user.profile.user_id %>
            <div class="user-info well">
                <h3>Site Info</h3>
                <h5><%= @user.email %></h5>
                <% if @user.plan_id == 1 %>
                    <h5>Basic Plan</h5>
                <% elsif @user.plan_id == 2 %>
                    <h5>Pro Plan</h5>
                <% end %>
            </div>
        <% end %>

        </div>
    </div>
</div>
